{% extends 'base.html.twig' %}

{% block title %}
    Event List
{% endblock %}

{% block body %}
    <div class="events-list">
        {% if keyword %}
            <h2>Search results for "{{ keyword }}"</h2>
        {% else %}
            <h2>All Events</h2>
        {% endif %}

        {% for event in events %}
            {% include 'components/_event_card.html.twig' with { event: event } %}
        {% else %}
            <p>No event found.</p>
        {% endfor %}
    </div>
{% endblock %}
