<footer>

    <div id="footer-main">
        <img id="footer-logo" src="{{ asset('img/logo-futevent.png') }}" alt="Logo FutEvent">

        <div id="footer-lists">
            <div class="footer-list">
                <h3>SITEMAP</h3>
                <ul>
                    <li><a class="nav-link" href="">Accueil</a></li>
                    <li><a class="nav-link" href="">Catégories</a></li>
                    <li><a class="nav-link" href="">Profil</a></li>
                    <li><a class="nav-link" href="">Connexion</a></li>
                    <li><a class="nav-link" href="">Inscription</a></li>
                </ul>
            </div>

            <div class="footer-list">
                <h3>SOCIALS</h3>
                <ul>
                    <li>Linkedin</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                </ul>
            </div>
        </div>
    </div>

    <p>© 2025 FutEvent. All Rights reserved.</p>

</footer>
