<header>
    <nav>
        <img src="{{ asset('img/logo-futevent-line.png') }}" alt="Logo FutEvent" id="logo">
        <ul class="links">
            <li><a class="link" href="">Accueil</a></li>
            <li><a class="link" href="">Catégories</a></li>
            <li><a class="link" href="">Profil</a></li>
            <li><a class="link" href="">Connexion</a></li>
            <li><a class="link" href="">Inscription</a></li>
        </ul>
    </nav>
</header>
