@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --dark: #272D2D;
    --light: #FDF0D5;
    --primary: #FF5400
}

*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    color: inherit;
}

li, li a{
    font-size: 20px;
}

h3{
    margin: 1em 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light);
    color: var(--dark);
}

main{
    flex: 1;
    padding: 10vh 15vw;
}


/* NAVIGATION BAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
}

#logo{
    width: 10vw;
}

.links{
    display: flex;
    gap: 1em;
}

.link{
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--primary);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

.link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* LOGIN */

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 5%;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 1em;
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 20em;
    padding: 1em 2em;
    margin-top: .5em;
    margin-bottom: 1em;
    border: var(--dark) 2px solid;
    border-radius: 50px;
    background-color: transparent;
    font-family: "League Spartan", sans-serif;
    color: var(--dark);
    font-size: 16px;
    transition: all 250ms ease-out;
}

input[type="submit"]:hover{
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    gap: 5vh;
    padding: 2.5%;
}

#footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#footer-lists{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#footer-logo {
    width: 20vw;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links{
    flex-direction: column;
}

.footer-links li{
    gap: 5em;
}


