{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <div class="categories-list">
        {% for category in categories %}
            <a class="category" href="">
                <figure class="category-img">
                    <img src="{{ asset(category.image) }}" alt="">
                </figure>
                <h2>{{ category.name|upper }}</h2>
            </a>
        {% else %}
            <p>No categories found.</p>
        {% endfor %}

    </div>

{% endblock %}
