{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Edit
    {% else %}
        Create
    {% endif %}
         Category
{% endblock %}

{% block body %}

    {{ form_errors(categoryForm) }}

    <div class="form-wrapper">

        <h1>
            {% if edit %}
                Edit
            {% else %}
                Create
            {% endif %}
            Category
        </h1>

        {{ form_start(categoryForm) }}

        {{ form_row(categoryForm.name) }}

        <input type="submit" class="btn" value="Register">
        {{ form_end(categoryForm) }}
    </div>
{% endblock %}
