{% extends 'base.html.twig' %}

{% block body %}

    <h1>Catégorie : {{ category }}</h1>
    <h2>Titre : {{ title }}</h2>
    <p>ID : {{ id }}</p>


{% endblock %}

{% block title %}

{% endblock %}

