{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <h1>
        Accueil
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis consectetur deserunt dignissimos ducimus eligendi facilis ipsa ipsum iure laudantium libero mollitia nemo odio pariatur porro possimus, quod repudiandae, saepe. A amet consectetur culpa dolor facere harum incidunt, laboriosam neque nobis nulla officia, officiis optio quae totam vel velit voluptas.
    </p>

{% endblock %}
