<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Application Symfony pour organiser des événements entre amis : invitations, gestion des participants, planning et suivi en temps réel.">
        <title>FutEvent - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            {# -- ICI REPOSE MON CODE CSS #}
            {# -- EX : BOOTSRAP CSS,... #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

    </head>
    <body>
        {# Chargement de mon header #}
        {% include 'partials/_header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {# Chargement de mon footer #}
        {% include 'partials/_footer.html.twig' %}
    </body>

    {% block javascripts %}
        {# -- ICI REPOSE MON CODE JS #}
        {# -- EX : BOOTSRAP JS,... #}
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
</html>
