<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FutEvent!{% endblock %}</title>
        {% block stylesheets %}
            {# -- ICI REPOSE MON CODE CSS #}
            {# -- EX : BOOTSRAP CSS,... #}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    {% block javascripts %}
        {# -- ICI REPOSE MON CODE JS #}
        {# -- EX : BOOTSRAP JS,... #}
    {% endblock %}
</html>
