{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>User List</h1>
    {% for user in users %}
    <div class="user">
        <h1>{{ user.username }}</h1>
        <div class="btns">
            <a class="btn">Ban</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
