{% extends 'base.html.twig' %}


{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-header">
                <h2>Profile Information</h2>
            </div>
            <div class="card-body">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h3>Roles</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for role in user.roles %}
                        <li class="badge bg-primary me-2">{{ role }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="profile-joined">
            <h3>Events Joined</h3>
                {% if user.events|length > 0 %}
                    <div class="joined-events">
                        {% for event in user.events %}
                            {% include 'components/_event_card.html.twig' with { event: event } %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">No events created yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


