name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-

      - name: Build Docker image
        run: docker build -t futevent-php -f docker/php/Dockerfile

      - name: Run Composer install
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/var/www/app \
            futevent-php \
            composer install --no-interaction --no-progress --prefer-dist

      - name: Check PHP extensions
        run: |
          docker run --rm futevent-php php -m | grep gd
